!xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintfull
Xft.lcdfilter : lcddefault

!xterm
xterm*termName: xterm-256color
xterm*faceName: monospace:size=10
xterm*saveLines: 8192
xterm*locale: true
xterm*metaSendsEscape: true
xterm*geometry: 160x48
xterm*decTerminalID: vt220

!urxvt conf
URxvt.scrollBar: false

URxvt.font:xft:monospace:size=11
URxvt.boldfont:xft:monospace:size=11

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 1
URxvt.colorUL: #87b776

URxvt.letterSpace: -1
URxvt.modifier: alt
URxvt.geometry: 160x48

#include ".colors/jellybeans"
!*background: #242424
!*foreground: #AAAAAA

