snippet inc
	#include <${1}>

snippet incg
	#ifndef ${1}
	#define ${1}

	${0}

	#endif

snippet fun
	${1:void} ${2}(${3}) {
		${0}
	}

snippet if
	if (${1}) {
		${0}
	}

snippet ife
	if (${1}) {
		${2}
	} else {
		${0}
	}

snippet while
	while (${1}) {
		${0}
	}

snippet for
	for (auto ${1:i}=${2}; i < ${3}; ${4:${1}++}) {
		${0}
	}

snippet fori
	for (auto i = 0ul; i < ${1}; i++) {
		${0}
	}

snippet main
	int main(int argc, char** argv) {
		${0}
		return 0;
	}
